# Logs
logs
*.log

# Runtime data
*.lock

# Output files
*.tar
*.tar.gz
*.tgz

# dotenv environment variables file
.env

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Terraform state
*.tfstate*
.terraform*
